{% extends 'base.html' %} {% block content %}

<style>
  .intro {
    text-align: center;
  }
</style>

<div class="container mt-2">
  <div class="jumbotron">
    <h1 class="display-4">Hello</h1>

    <p class="lead">
      This is an E-commerce web application where  users Buy Glass according to there Eye Power And also can get a demo version of that glass on his profile picture.
    </p>

    <ul>
      <li>
        This web App will Help a lot of travelers to find an actual beautiful
        place by real life users post.
      </li>
      <li>
        Most of the time a new traveler cant collect enough information about a
        place where he is going to travel like how much money he would need and
        what hotel is exactly suitable for his budget.
      </li>
      <li>
        He can compare different experience from multiple users of a same place
        and thus he can take proper decision.
      </li>
      <li>
        Travel is the most important thing of a human life. But most of the
        people cant travel because of the lacking of enough knowledge so this
        site can be helped those people with some valuable data.
      </li>
    </ul>
    <p class="lead" style="color: red">
      This Website is Under Construction and Developed by Jyotirmoy Goswami , Roll - 1903135
      <br />
       Due to The Course of CSE 3100 ,Under The Supervisor 
       Dr. Md. Nazrul Islam Mondal
    </p>
    <hr class="my-4" />
    <div class="row">
      <div class="col-sm-6">
        <h4 class="intro">Submitted To</h4>
        <h2 class="intro">
          Dr. Md. Nazrul Islam Mondalr</h2>
        <h3 class="intro">Professor</h3>
        <h5 class="intro">Rajshahi University of Engineering and Technology</h5>
      </div>
      <div class="col-sm-6">
        <h4 class="intro">Submitted By</h4>
        <h2 class="intro">Jyotirmoy Goswami</h2>
        <h3 class="intro">Roll - 1903135</h3>
        <h5 class="intro">Rajshahi University of Engineering and Technology</h5>
      </div>
    </div>
  </div>
</div>

} {% endblock content %}
